In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('greatSchoolsTestScore.csv', header = None)

In [7]:
df.head()

                                   0        1   2   3     4
0                       All students     Math  42  37  5785
1                              White     Math  47  53  5785
2                           Hispanic     Math  26  24  5785
3  Native American or Native Alaskan     Math  43  25  5785
4                       All students  English  48  48  5785

In [ ]:
df.columns = ['Ethnicity', 'Subject', 'TestScorePercentage', 'StateTestPercentage', 'greatSchoolsID']